/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2018, 23:35:48
    Author     : abnerjp
*/

/* botão fechar*/
#btnfechar{
    -fx-background-image:  url('../imagem/top/fechar_32.png');
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}
#btnfechar:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
#btnfechar:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 0 , 1 );
    -fx-scale-y: 1.0;
    -fx-scale-x: 1.0;
}