.hbox {
    -fx-background-color: #44484C;
    -fx-font: 15px System;
}

.text-field{
}

.text-field-notEmpty{

    -fx-text-fill: #f2f2f2;   
}

.text-field:focused{
    -fx-text-fill: #ffffff; 
}

.jfx-tab-pane {
    -fx-text-fill: red;

}

/* Tab Pane */
.jfx-tab-pane .headers-region {
    -fx-background-color: #44484C;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #44484C;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: red;
    -fx-stroke-width: 3pt;
}

/* Campo de texto */
.jfx-text-field {
    -jfx-focus-color: #b3f2d2;
}

.text-field {
    -fx-prompt-text-fill: #8d999d; /*Yellow - floating label*/
    -fx-text-fill: white; /*Yellow - input color*/
    -fx-highlight-fill: #383c3f; /* seleção txt */
}

.text-field .input-line{ 
    -fx-background-color: #6d777c; /*Yellow - bottom bar*/
}

/* Combo Box */
.jfx-combo-box {
    -jfx-focus-color: #b3f2d2;
    -fx-font: 15px System;
    -fx-prompt-text-fill: #8d999d;
}

.combo-box-popup .list-view 
{
    -fx-background-color: #44484C;
}

.table-view table-row-cell:hover  {
    -fx-font-weight: italic ;
}