/* Alinhar à direita */
.table-view .column-header.direita .label{ /* Título */
    -fx-alignment: center-right;
}
.table-view .table-cell.direita{ /* Coluna(campos) */
    -fx-alignment: center-right;
}


/* Centralizar */
.table-view .column-header.centralizar .label{ /* Título */
    -fx-alignment: center;
}
.table-view .table-cell.centralizar { /* Célula da coluna Data */ 
    -fx-alignment: center;
}


/* Alinhar à esquerda */
.table-view .column-header.esquerda .label{ /* Coluna Data*/
    -fx-alignment: center-left;
}
.table-view .table-cell.esquerda { /* Título */
    -fx-alignment: center-left;
}